body{
  font-family: Georgia, serif;
  background-color: #fff;
  margin: 0;
}
#headercontainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#lelandname{
  display: block;
  margin: 100px auto 0 auto;
  background-color: none;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/*  width: 332px;
  height: 68px;*/
}
#glasses{
  z-index: 1;
  position: fixed;
  display: block;
  margin: 100px 0 0 -20%;
  background-color: none;
  left: 50%;
  top: 130px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/*  width: 300px;
  height: 143px;*/
}
#blurb{
  margin: 30% auto 0 auto;
  z-index: 2;
  font-family: 'IM Fell English SC', serif;
  background-color: #fff;
 /* font-family: 'Convergence', sans-serif;*/
}
.section{
  height: 100vh;
  display: flex;
  width: 100%;
  font-family: 'IM Fell English SC', serif;
}
#first{
  background-color: #fff;
  padding-bottom: 0;
}
#about{
  position: relative;
  z-index: 3;
  display: block;
  margin: 60px 0 0 50px;
  width: 500px;
}
#second{
  position: relative;
  z-index: 3;
  background-color: #f2f2f2;
}
.paragraph{
  position: relative;
  z-index: 3;
  font-size: 2em;
}
#work{
  position: relative;
  z-index: 3;
  display: block;
  margin: 100px 0 0 50px;
  width: 500px;
}
#third{
  position: relative;
  z-index: 3;
  background-color: #ccc;
}
.project{
  margin-bottom: 10px;
}
#fourth{
  background-color: #fff;
}
#contact{
  margin: 50% auto 0 auto;
  padding: 0 0 0 0;
}
.contacts{
  text-align: center;
  margin: 0 auto 100px auto;
  padding: 0 0 0 0;
}
.contacts li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
.icon{
  width: 60px;
  height: 60px;
}
#round{
  border-radius: 50%;
}
@media only screen 
and (max-width: 760px) {
  #lelandname{
    display: block;
    margin: 100px auto 0 auto;
    background-color: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #glasses { 
    position: fixed;
    display: block;
    margin: 100px 0 0 -40%;
    background-color: none;
    left: 50%;
    top: 130px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #blurb{
    margin: 80% auto 0 auto;
    text-align: center;
  }
  #contact{
    margin: 150% auto 0 auto;
  }
  .paragraph{
    font-size: 1.5em;
    margin: ;
  }
  #about{
    margin: 30px 0 0 25px;
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  #lelandname{
    display: block;
    margin: 100px auto 0 auto;
    background-color: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #glasses { 
    position: fixed;
    display: block;
    margin: 200px 0 0 -40%;
    background-color: none;
    left: 50%;
    top: 130px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #blurb{
    margin: 80% auto 0 auto;
    text-align: center;
  }
  #contact{
  margin: 90% auto 0 auto;
  }
}